version: "3.9"

services:
  web:
    build: .
    container_name: fastapi-app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    ports:
      - "50000:8000"
    depends_on:
      - db
      - redis

  consumer:
    build: .
    command: python app/events/consumers.py
    depends_on:
      - redis
      - db


  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: nima
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
